- var lang = current.path[0]? current.path[0] : 'en'
- var people = public._data.people
- var contrib = {}
 
extends ./_utl_layout.jade

block sideContent


block mainContent
  article.lyt-txt.cs-txt
    p.ma-sml Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget velit aliquet sagittis id. Quam adipiscing vitae proin sagittis nisl. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Fermentum iaculis eu non diam phasellus vestibulum lorem sed. Leo vel fringilla est ullamcorper. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Erat nam at lectus urna duis convallis convallis tellus. Aliquam sem et tortor consequat id. Nibh praesent tristique magna sit amet purus gravida. Quam adipiscing vitae proin sagittis nisl. Arcu risus quis varius quam quisque id diam. Amet purus gravida quis blandit turpis cursus. Condimentum mattis pellentesque id nibh tortor id aliquet lectus proin.
    
  
    .ma-reg.consulting
      .core.ma-reg
        p.ma-sml We are supported by or have worked with: 
        ul
          each partner in orgPartners
            li.ma-reg
              a(href="#{ partner.url }" target="_blank"): img(src='../assets/logos/#{ partner.logo }_logo.png' alt="#{ partner.name }")

    a(href="mailto:") 
      .contact-button.ff-sans.fw-hev
        include ../assets/s/contact.svg
        | Work With Us 