- var lang = current.path[0]? current.path[0] : 'en'
- var people = public._data.people
- var contrib = {}
 
extends ./_utl_layout.jade

block sideContent
  p.cs-meta.ma-sml For information about how we handle applications, view our #[a(href="./privacy") privacy policy].

block mainContent
  article.lyt-txt.cs-txt
    p.ma-sml Sorry - all positions are currently filled. You can find out about new vacancies as soon as they're announced by #[a(href="https://ndc.substack.com" target="_blank").ext joining the newsletter]. 

    h3 Join the Expertise Network
    p.ma-sml The New Design Congress has an ambitious research agenda borne from our methodology of #[em alternative forking], a practice of diverging from today's systems through exploring untested ideas and amplifing underrepresented perspectives. As such, our projects and research are deeply interdisciplinary in nature and by their nature require specialised expertise. Join our expertise network to help us find you quickly when we're looking for collaborators.
    a(href="https://cloud.undersco.re/apps/forms/tRKmKkpXNSQj5Jd2").ext Register your interest.