- var lang = current.path[0]? current.path[0] : 'en'
- var people = public._data.people
- var contrib = {}
 
extends ./_utl_layout.jade

block sideContent
  p.cs-meta.ma-reg #[span.fw-hev Last updated: ] 16 November 2020
  

block mainContent
  article.lyt-txt.cs-txt
    p.ma-sml We are in the midst of a climate disaster and this reality is not lost on us. Informed by our own broader research (see examples #[a(href="./pub/our-artificial-wilderness") here] and #[a(href="./pub/finsbury-park-2025") here]), our climate and sustainability policies are part of a rapidly evolving and actionable living document.

    p.ma-sml Today, we have adopted a modified version of the Green Web Foundation's triple bottom line concept of sustainability, which focuses on three key areas:

    ul.ma-sml
      li #[strong Environmental:] reducing environmental damage to levels that can naturally be absorbed by nature
      li #[strong Social:] developing a healthy, fair global and local society
      li #[strong Financial:] creating sustainable business models and stable, prosperous economies

    p.ma-sml At The New Design Congress we aim to do our best to work towards sustainability. We’re not perfect, but it’s something we take very seriously. We have a range of environmental, social and financial strategies that help us to reduce our negative impact and give something positive back to the world.

    p.ma-sml Within the confines of society-wide failings, The New Design Congress works decisively to be as environmentally friendly as possible. We’re fully committed to reducing our environmental impact by integrating best practices into all our business activities, and continually reviewing our policies and processes. We promote our environmental ethos and values to our staff, and externally to our clients, suppliers and partners. We actively seek to work with people who share our environmental concerns and policies.

    h3 Environmental
    p.ma-sml The New Design Congress minimises its carbon footprint by operating a virtual business structure, centred on remote and green workspaces. We also use our limited purchasing power to reduce organisational consumption and opt for efficient alternatives.
    
    ul(style="list-style-position: outside; list-style-type: disc; margin-left: 1rem;").ma-sml
      li: p.ma-sml We limit office waste instead opting for an almost 100% digital workplace.
      li: p.ma-sml We do not buy electronics that cannot be repaired.
      li: p.ma-sml We use low energy appliances wherever available.
      li: p.ma-sml We significantly limit all work related air travel.
      li: p.ma-sml We minimize our carbon emissions through opting for green energy providers, refusing car travel and prioritising commercial workspaces that include energy saving policies. 
      li: p.ma-sml We develop services that can be delivered with no physical goods production or transportation.
      li: p.ma-sml We assess the environmental impact of all past, current and likely future operations and fully integrate environmental consideration and objectives into our business decisions.
      li: p.ma-sml When hosting events, we cater exclusively vegan.
      li: p.ma-sml We encourage awareness of and commitment to improved environmental performance amongst our suppliers and clients.
      li: p.ma-sml We monitor and review our environmental performance, and publish and communicate this to staff and our broader stakeholder network.
      li: p.ma-sml All physical products we produce are sourced from sustainable suppliers from recyclable materials.

    h4 Environmental targets
    p.ma-sml To complement the above initiatives, we are committed to two current targets to guide our environmental approach.

    ol
      li: p.ma-sml Move to green energy for all internal digital infrastructure by 2023.

      li: p.ma-sml Replace, as much as possible, international events and consultating with digital equivalents, and continue to develop these alternatives as viable, shareable options for broader use. 
    h3 Social
    p.ma-sml We value our team. We make sure all team members enjoy their work by giving them every possible opportunity to express themselves, fulfil their potential, and fit their work around other important aspects of their lives.
    
    ul(style="list-style-position: outside; list-style-type: disc; margin-left: 1rem;").ma-sml
      li: p.ma-sml We are a fully flexible workplace, and encourage our team and volunteers to develop their own work schedules and work-life balance.
      li: p.ma-sml We maintain a culture of resepect with our fiscal sponsor, our funders, our consultancy and research partners, and our community.
      li: p.ma-sml We use independent suppliers where possible to reduce our carbon footprint and build economic solidarity.
      li: p.ma-sml We comply with all equal opportunities laws and regulations.
      li: p.ma-sml Where possible, we resist data surveillence systems and prioritise data ownership and governance as per our #[a(href="./privacy") privacy policy].
    
    h3 Financial
    ul(style="list-style-position: outside; list-style-type: disc; margin-left: 1rem;").ma-lrg
      li: p.ma-sml We keep costs to a minimum by virtual operation of the business using modern communication technologies.
      li: p.ma-sml We’ll avoid ethical liabilities by implementing our social and environmental sustainability policies.
      li: p.ma-sml We provide financial support to aligned organisations via prioritisation and steep discounts to provide broader access to professional experience and research within our organisation.
      li: p.ma-sml All publicly released output from The New Design Congress is available without a paywall.

    p.ma-sml We review this policy and its implementation progress regularly. For questions, please contact us at #[a(href="mailto:climate@newdesigncongress.org") climate@newdesigncongress.org].