@media screen and (max-width: 767px) {
    .lyt-article {
        transition: transform 300ms ease;
    }
    .lyt-txt, .lyt-fn {
        transition: opacity 300ms ease;
    }
}

.fx-bg-vid {
  box-sizing: border-box;
  mix-blend-mode: multiply;
  opacity:1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(0% + 1rem);
  overflow: hidden;
  padding: 1rem;
  z-index:-1;
}

.fx-bg-vid > video {
    width: -moz-available;
    width: -webkit-fill-available;
    object-fit: cover;
    min-height: 100vh;
}

@keyframes displayHide {
    from {
        display: flex;
    }
    to {
        display: none;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}