@import './lyt.css';
@import './fx.css';
@import './ui.css';
@import './nav.css';
@import './tl.css';
@import './lyt-utl.css';

:root {
  /* Color */
  --co-pri:hsl(231,100%,40%);
  --co-sec:hsl(238,18%,13%);
  --co-text: hsl(240, 6%, 10%);
  --co-high:hsl(216, 20%, 95.1%);
  --co-fn: hsl(225, 8%, 90.2%);
  --co-dark:hsl(34, 4%, 66%);
  --co-white: hsl(0, 0%, 100%);
  --co-hlght: hsl(53.8, 100%, 84.7%);

  /* Text: LH ( Line Height) */
  --lh-reg: 1.5; /*Default */
  --lh-hln: calc(var(--lh-reg) / 1.65); /*Headline*/
  
  /* Text: FS ( Fixed Size) */
  --fs-tiny: 0.65rem;
  --fs-sml: .8rem;
  --fs-reg: 1.1rem;  /* Default */
  --fs-big: 1.5rem;
  --fs-med: 2rem;
  --fs-lrg: 2.5rem;
  --fs-hge: 3rem;
  --fs-msv: 4rem;

  /* Text: FF ( Font Face ) */
  --ff-sans: 'ss', Arial, sans-serif;
  --ff-seri: 's', Georgia, serif;
  --ff-mono: 'm', monospace;

  /* Text: FW (Font Weight )*/
  --fw-lit: 300;
  --fw-reg: 400; /* Default */
  --fw-med: 600;
  --fw-hev: 700;
  --fw-bld: 800;
  /* Text: ST (Style) */
  --st-ital: italic;

  /* Text: CS (Convenience Style) */
  --cs-tny: var(--fw-reg) var(--fs-tiny)/var(--lh-reg) var(--ff-sans);
  --cs-lbl: var(--fw-reg) var(--fs-sml)/var(--lh-reg) var(--ff-sans);
  --cs-sml: var(--fw-reg) var(--fs-sml)/var(--lh-reg) var(--ff-seri);
  --cs-reg: var(--fw-reg) var(--fs-reg)/var(--lh-reg) var(--ff-sans);
  --cs-txt: var(--fw-reg) var(--fs-reg)/var(--lh-reg) var(--ff-seri);
  --cs-cal: var(--fw-reg) var(--fs-big)/var(--lh-reg) var(--ff-seri);
  --cs-big: var(--fw-reg) var(--fs-big)/var(--lh-reg) var(--ff-sans);
  --cs-hg1: var(--fw-reg) var(--fs-lrg)/var(--lh-hln) var(--ff-sans);
  --cs-hg2: var(--fw-med) var(--fs-med)/var(--lh-hln) var(--ff-sans);
  --cs-hg3: var(--fw-bld) var(--fs-big)/var(--lh-hln) var(--ff-sans);
  --cs-art: var(--fw-bld) var(--fs-med)/var(--lh-hln) var(--ff-seri);
  --cs-msv: var(--fw-bld) var(--fs-msv)/var(--lh-hln) var(--ff-seri);
  --cs-meta: var(--fw-reg) var(--fs-sml)/var(--lh-reg) var(--ff-sans);
  
  /* Margin */
  --ma-reg: calc(1rem * var(--lh-reg));
  --ma-sml: calc(.5rem * var(--lh-reg));
  --ma-tny: calc(.2rem * var(--lh-reg));
  --ma-lrg: calc(2rem * var(--lh-reg));
  --ma-hge: calc(4rem * var(--lh-reg));
  /* Padding */
  --pd-reg: calc(1rem * var(--lh-reg));
  --pd-sml: calc(.5rem * var(--lh-reg));
  --pd-lrg: calc(2rem * var(--lh-reg));
  --pd-hge: calc(4rem * var(--lh-reg));
}

/* Display */
.ds-bloc { display: block;}
.ds-i-bloc { display: inline-block;}
.ds-flex { display: flex; -webkit-flex: none;}
.ds-flex-dir-c {flex-direction: column;}
.ds-flex-wrap {flex-wrap: wrap;}
.ds-grid { display: grid; -webkit-grid: none;}
.ds-grid-auto {grid-template-columns: repeat(auto-fit, calc(4rem * var(--lh-reg))); grid-gap: calc(0.5rem * var(--lh-reg));}
.ds-non-desk { display: none;}
.ds-non-mob.ds-non-mob { display: block;}

@media screen and (min-width: 800px) {
  .ds-grid-desk { display: grid; display: -webkit-grid; }
  .ds-flex-desk { display: flex; display: -webkit-flex; }
}

@media screen and (max-width: 800px) {
  .ds-grid-mob { display: grid; display: -webkit-grid;  }
  .ds-flex-mob { display: flex; display: -webkit-flex; }
  .ds-non-desk { display: block; }
  .ds-non-mob.ds-non-mob.ds-non-mob { display: none; }
}

@media screen and (max-width: 480px) {
  .ds-hide-sml { display: none; }
}

/* Position */
.ps-rel { position: relative}

/* Font Size */ 
.fs-tiny {   font-size: var(--fs-tiny);}
.fs-reg {    font-size: var(--fs-reg);}
.fs-sml {    font-size: var(--fs-sml);}
.fs-med {    font-size: var(--fs-med);}
.fs-lrg {    font-size: var(--fs-lrg);}
.fs-hge {    font-size: var(--fs-hge);}

/* Line Height */
.lh-reg {  line-height: var(--lh-reg);}
.lh-hln {  line-height: var(--lh-hln);}

/* Font Weight */
.fw-lit {  font-weight: var(--fw-lit); font-variation-settings: 'wght' 200 !important; ;}
.fw-bok {  font-weight: var(--fw-bok); font-variation-settings: 'wght' 400 !important; ;}
.fw-reg {  font-weight: var(--fw-reg); font-variation-settings: 'wght' 600 !important; ;}
.fw-med {  font-weight: var(--fw-med); font-variation-settings: 'wght' 600 !important; ;}
.fw-hev {  font-weight: var(--fw-hev); font-variation-settings: 'wght' 700 !important; ; }
.fw-bld {  font-weight: var(--fw-bld); font-variation-settings: 'wght' 800 !important; ;}

/* Font Family */
.ff-sans { font-family: var(--ff-sans); letter-spacing: 0 !important; }
.ff-seri { font-family: var(--ff-seri);}
.ff-mono { font-family: var(--ff-mono);}

/* Font Style */
.st-ital { font-style: var(--st-ital);}

/* Convenience Class */
.cs-tny { font: var(--cs-tny);}
.cs-sml { font: var(--cs-sml);}
.cs-reg { font: var(--cs-reg);}
.cs-hg1 { font: var(--cs-hg1);}
.cs-hg2 { font: var(--cs-hg2);}
.cs-hg3 { font: var(--cs-hg3);}
.cs-art { font: var(--cs-art);}
.cs-msv { font: var(--cs-msv);}
.cs-txt { font: var(--cs-txt); }
.cs-big { font: var(--cs-big);}
.cs-meta { font: var(--cs-meta);}

/* Character Widths */
.mcw-reg { max-width: 72ch;}
.mcw-sml { max-width: 40ch;}
.mcw-hg1 { max-width: 14ch;}
.mcw-hg2 { max-width: 24ch;}
.mcw-hg3 { max-width: 24ch;}

/* Grid Spans */
.lyt-grs1 { grid-row-start: 1; }
.lyt-grs2 { grid-row-start: 2; }
.lyt-grs3 { grid-row-start: 3; }
.lyt-grs4 { grid-row-start: 4; }
.lyt-grs5 { grid-row-start: 5; }

.lyt-gr1 { grid-row: span 1; }
.lyt-gr2 { grid-row: span 2; }
.lyt-gr3 { grid-row: span 3; }

.lyt-gre2 { grid-row-end: span 2; }
.lyt-gre3 { grid-row-end: span 3; }

.lyt-gcs0 { grid-column-start: 0; }
.lyt-gcs1 { grid-column-start: 1; }
.lyt-gcs2 { grid-column-start: 2; }

.lyt-gce1 { grid-column-end: span 1; }
.lyt-gce2 { grid-column-end: span 2; }
.lyt-gce3 { grid-column-end: span 3; }

.lyt-gc1 { grid-column: span 1; }
.lyt-gc2 { grid-column: span 2; }
.lyt-gc3 { grid-column: span 3; }

/* Margins */
.ma-tny { margin-bottom: var(--ma-tny);} .ma-r-tny {margin-right: var(--ma-tny);}
.ma-sml { margin-bottom: var(--ma-sml);} .ma-r-sml {margin-right: var(--ma-sml);}
.ma-reg { margin-bottom: var(--ma-reg);} .ma-r-reg {margin-right: var(--ma-reg);}
.ma-lrg { margin-bottom: var(--ma-lrg);} .ma-r-lrg {margin-right: var(--ma-lrg);}
.ma-hge { margin-bottom: var(--ma-hge);} .ma-r-hge {margin-right: var(--ma-hge);}

.pd-reg { padding: var(--pd-reg)} 
.pd-lrg { padding: var(--pd-lrg)}

/* Color */
.col-white {
  color: var(--co-white);
}

/* Decorators */ 
.dc-caps {
  text-transform: uppercase;
}
.dc-case {
  text-transform: capitalize;
}
.dc-link {
  margin-left: 2ch;
  text-decoration: none;
  border-bottom: 1px dotted;

}
.dc-link:before {
  display: block;
  position: absolute;
  content: '⇱';
  border-bottom: none;
}

.ext {
  margin-right: 14px;
  display: inline-block;
}
.ext::after {
  content: '⇱';
  font-family: var(--ff-sans);
  font-variation-settings: 'wght' 700;
  font-size: x-small;
  position: absolute;
  margin-left: 3px;
  line-height: 1;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
  margin-top: 0.5%;
}

html {
  font-size: 16px; /* Everything happens here*/
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--co-high);
}

h1,h2,h3,h4,h5,h6, p {
  font-weight: var(--fw-reg);
}

img {
  display: block;
}

strong {
  font-weight: var(--fw-hev);
}

em {
  font-style: var(--st-ital);
}

a {
  position: relative;
  color: var(--co-pri);
  text-decoration: none;
}

code, pre {
  font-family: var(--ff-mono);
}

.lyt-txt label {
  background-color: var(--co-fn);
  transition: background-color 250ms linear;
}

.lyt-txt label:hover {
  background-color: var(--co-hlght);
}

ol {
  margin-left: 2rem;
  margin-top: 1rem;
}

ol li {
  padding-left: 1rem;
}