script.
  var language = navigator.language
  switch (true) {
    /*
    case (language.indexOf('de') != -1):
      window.location.replace('/de/')
    break
    case (language.indexOf('es') != -1):
      window.location.replace('/es/')
    break
    case (language.indexOf('ja') != -1):
      window.location.replace('/ja/')
    break
    case (language.indexOf('fr') != -1):
      window.location.replace('/fr/')
    */
    default:
      window.location.replace('/en/')
    break
  }