- var lang = current.path[0]? current.path[0] : 'en'
- var strings = public[lang]._data.strings
- var labels = public[lang]._data.labels

.ds-non-desk
  != partial('./logo/index')

#ui-grid.ds-grid

  a(href="https://components.one/posts/the-new-pornographers-tech-reviews" style="background-color: rgba(254, 212, 208, 0.8); color: white; background-blend-mode: soft-light;" target="_blank").lyt-cell.lyt-cell-feature.lyt-gr2.lyt-gc2
    .lyt-cell-content(style="z-index:5")
      .lyt-cell-container
        .section: label Report
        .meta
          .title: h4 The New Pornographers
          .tagline: p.ext An analysis of consumer tech review media.#[br]In collaboration with Components.

    video(autoplay muted disablePictureInPicture controlsList="nodownload" loop playsinline src='../assets/tl/tnp.mp4' style="opacity:1")