
- var lang = current.path[0]? current.path[0] : 'en'
- var pub = current.path.length > 2 && current.path[1] === 'pub'? current.path[current.path.length-1] : ''
- var loc = current.path.length === 2 ? 'index' : 'content'
- var slug = current.path[current.path.length - 1];

doctype html
html(lang='#{ lang }')
  != partial("../../_partials/meta/head", { lang: lang })

  body.cs-reg
    if (lang !== 'index')
      if (pub !== '')
        != partial("../../_partials/pub/nav", { type: 'pub', pub: pub, lang: lang })
      
        main.lyt-main(class="lyt-#{ loc } lyt--#{ slug }")
          != partial("../../_partials/pub/logo")
          != partial("../../_partials/pub/mast", { pub: pub, lang: lang })
          != partial("../../_partials/pub/video-list", { pub: pub, lang: lang })
  
          != yield

          != partial("../../_partials/footers/support", { lang: lang })
          != partial("../../_partials/footers/footer", { lang: lang })