- var base = '/assets/pub/aesthetic-flattening'

input(type="checkbox")#toggleFootnotes
article.lyt-article

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p One year into the Covid-19 pandemic, an impatient public—lit up by the blue glow of screens—preps itself for a collective amnesia. Many of us started 2020 nervously counting infection curves and rising death rates. Now, after a year of ghoulish statistics dictating what should be considered essential—or grievable—we wait for vaccination rates to climb and make way for a post-Covid era.
    .lyt-fn
      .fn.ma-reg
        p.ma-sml This essay was originally published in #[a(href="https://interactions.acm.org/archive/view/july-august-2021/aesthetic-flattening" target="_blank") ACM Interactions Magazine], XXVIII.4 July - August 2021 Issue.

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The pandemic has acted like a contrast dye, lighting up the inequities in institutions, lifestyles, and societies, revealing dis-eases like a scrutinizing, invasive MRI. Shops with empty shelves in anticipation of lockdowns lit up, while the perfunctory reclassification of who and what is essential—as well as the increasingly heavy burdens on the shoulders of caregivers—remain glowing.

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p For the “remote working class,” which includes students, artists, former office workers, and essential workers during downtime, there is another dimension to the shared experience: the dual flatness of streaming services and webcam-based interaction. People who had the means were compelled to host social gatherings, hold conferences and panel discussions, make art, throw parties, and run festivals in cyberspace, some of which took place specifically to process some of the worst aspects of 2020: #[label(for="toggleFootnotes") the struggles for survival in arts], fear of encroaching poverty, and hyperloneliness and crumbling mental well-being. #[label(for="toggleFootnotes") Many of these online interactions were driven by the aspiration to seek ways to evoke different, more-sustainable, and just futures].
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"report", link:"https://www.ucl.ac.uk/art-futures/projects",  title:"Creative IP: Monetising creative online content", source:"UCL Innovation & Enterprise",date:"2021" })

      != partial("../../_partials/pub/note", { type:"link", link:"https://reclaimfutures.org",  title:"For example, ReclaimFutures", source:"a technology and culture conference around the broad subjects of post-capitalist desire, utopian exploration, ecology and alternative computing." })
   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In the middle of this highly anticipated transition to another future, these collective endeavors remain shackled to both an interface and infrastructural obstruction. Despite our best intentions, we risk that, with few exceptions, much of the hard work completed in 2020 will be eclipsed by what came before and what comes after, suppressed not just because of its associated traumatic memories but also because of its aesthetics and execution.

   .lyt-row
    .lyt-txt.mcw-reg.ma-lrg
      p This is #[em aesthetic flattening]: a highly reductionist substitute for human interaction. This lossy, compressed parsing of almost all creative or expressive output is the logical result of a computing world accelerated by the pandemic. Aesthetic flattening has been written about extensively, if often indirectly. It is a core source of angst in reflections on the hypermodern vulgarity inherent in the same software being used for everything from professional meetings to remote birthdays to #[label(for="toggleFootnotes") funerals], or the absurdity of rushed, voyeuristic on-screen pedagogical endeavors, marred by limited support and buffer for failures.
    .lyt-fn 
      != partial("../../_partials/pub/note", { type:"article", link:"https://www.nytimes.com/2020/04/24/podcasts/daily-newsletter-funerals-virus.html",  title:"A Funeral, Reinvented for the Pandemic", source:"Michael Barbaro", platform:"The New York Times", date:"24 April 2020" })
  .lyt-row
    .lyt-txt.mcw-hge.ma-lrg
      img(src="#{ base }/hero.png") 

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Aesthetic flattening occurs at the convergence of three traits culminated from human-computer interaction design:
      
      ul 
        li 
          p #[em Sensory]: Unsatisfactory low-resolution audiovisual interaction exacerbated by the front-affixed design of webcams, audio with low fidelity and intelligibility, and data compression for bandwidth efficiency.
        li 
          p #[em Interface]: The reduction of body and identity from three dimensions to two, collapsed into a singular floating-head format that diminishes one’s ability to express oneself creatively and multimodally in the moment.
        li 
          p #[em Justificatory]: Universalist design thinking in tandem with the technological reuse for stacking and lower-cost contracting purposes, of which ethical and cultural ramifications remain unquestioned and in the background by capitalist demands to sustain the speed of production or relevance of human labor.
      
   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Aesthetic flattening is also the combined and thereupon amplified approaches to social identity and economic paradigms. The rationalist approach to digital-identity paradigms breeds a cultural expectation for digital bodies to mirror the “real-life self,” which denies the notion of #[label(for="toggleFootnotes") the plural self]. It is biased yet pervasive, yet only a single generation old (recall that #[label(for="toggleFootnotes") critical rejection of digital identity was a staple of late-1970s and early-1980s civil rights movements]). This paradigm combines with the neoliberal economics of the consumer technology sector, built on an efficient supply chain that deprioritized so-called fringe use cases to optimize and maximize financial profit against technological and material costs. 

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"http://interactions.acm.org/archive/view/march-april-2021/movement-time-and-space-two-ways",  title:"Movement, Time, and Space, Two Ways", source:"Jaz Choi & Anne Galloway", platform:"Interactions 28", date:"March 2021" })

      != partial("../../_partials/pub/note", { type:"paper", link:"https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1542-734X.1992.1504_43.x",  title:"'Do Not Fold, Spindle or Mutilate': A Cultural History of the Punch Card", source:"Steven Lubar", platform:"Journal of American Culture", date:"Winter 1992" })

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The result of this is a two-decade entrenchment of computing systems saddled with underpowered graphic chips and sensory peripherals: #[label(for="toggleFootnotes") smooth-surfaced dumb terminals] that cannot accommodate performative or deeply immersive interactivity and self-expression, while remaining exclusive and costly to a majority of people. These “crimes of design” #[label(for="toggleFootnotes") capitalize on form over function and exclusive access over access to real, local configurations of computing power].

    .lyt-fn 
      != partial("../../_partials/pub/note", { type:"article", link:"https://www.pcmag.com/news/the-forgotten-world-of-dumb-terminals",  title:"The Forgotten World of Dumb Terminals", source:"Benj Edwards", platform:"PC Magazine", date:"13 October 2016" })

      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=AUaJ8pDlxi8",  title:"The horrible truth about Apple's repeated engineering failures", source:"Louis Rossmann", platform:"Youtube", date:"24 April 2018" })

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Here emerge today’s aesthetics: most forms of human expression compressed and flattened into a 2D grid on a flat screen and squeezed into frictionless design paradigms. #[label(for="toggleFootnotes") Context collapse, a phenomenon proposed by danah boyd in which the nontemporal nature of social media can overwhelm], is a related concept. But aesthetic flattening creates similar chaos, not through the temporal scattering of information but via a crushing techno-supremacist system for uniformed expression. At scale, this rigidity is normalized and systematically coerces continuous value (re-)production through tech labor to reinforce existing power structures.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"article", link:"http://www.zephoria.org/thoughts/archives/2013/12/08/coining-context-collapse.html",  title:"how “context collapse” was coined: my recollection", source:"danah boyd", date:"8 December 2013" })

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The grids are cyclically reproducing trauma gateways, frames in which the user’s participation—necessitated by one’s social or economic needs and desires—coerces us to participate in the disastrous symbiosis of tech labor and aesthetic flattening. From weeklong webcam conferences to attempts to digitize artwork or exhibitions, this varied labor directly creates more flattening, which in turn demands more tech labor. The cycle consists of three key forms of labor corresponding to the three traits mentioned earlier:
      
      ul
        li The labor of #[em performative communication] with severe proprietary limitations
        li The labor of #[em interpretation and redaction] to such labor
        li The labor of #[em speculative evaluation/revaluation] of such labor

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p As this cycle intensifies and multiplies, the value of labor continues to diminish, legitimizing those already in power in the current neoliberal system to coerce the less powerful to identify and exploit new flattening mechanisms. A critical concern here is that the severity of value extraction grows exponentially at the socioeconomic margins, further demanding #[label(for="toggleFootnotes") “enormous amounts of behind-the-scenes, domain-specific”], and already undervalued human labor. For some other-than-human species, identified only as “natural” resources, the demand is explicitly the termination of their livelihood. 

    .lyt-fn 
      != partial("../../_partials/pub/note", { type:"article", link:"https://www.publicbooks.org/justice-for-data-janitors/",  title:"Justice for “Data Janitors”", source:"Lilly Irani", platform:"Public Books", date:"15 January 2015" })

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Dismantling the cruel grids of aesthetic flattening is only possible when its three enabling traits are also dismantled. Understanding what this will take will not be easy. For example, while technologies designed for sensory extension—for example, touch or taste—continue to emerge, the majority remain within the experimental domain. Services such as Gather Town and Mozilla Hubs strive to break the frame by offering multidimensional interactive possibilities, but without new hardware and input paradigms, these tools operate without intimacy or expressivity, instead simply recontextualizing the grip of aesthetic flattening. Breaking free of this aesthetic requires a multimedia approach that can allow new configurations of input hardware, local computing, and graphics power, as well as a prioritization of audiovisual equipment to emerge.
  .lyt-row
    .fn.ma-reg.cs-tny.lyt-inline
      video(disablePictureInPicture controls autoplay muted loop playsinline src='#{ base }/gather-town-interaction.mp4' poster='#{ base }/gather-town-interaction.jpg')
      p Despite featuring an aesthetically pleasing 2.5d game world, Gather Town's interaction fatally relies on the same disembodied and flattened fundamentals as other online meeting tools.
      p #[a(href="https://gather.town" target="_blank") Gather Town], 2021
   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The popularization of VR platforms and their infrastructures during the pandemic is one example of a broader attempt at dismantling aesthetic flattening. #[label(for="toggleFootnotes") Global subcultures that embrace computing power, quality personal audiovisual recording equipment, and new methods for sensory input have flourished both culturally and economically during the pandemic and the accompanying unnecessary and cruel austerity measures]. But their current incarnations are not without significant shortcomings. VR and its contemporaries, such as generative or expressive art, gaming, and social spaces, are highly reliant on #[label(for="toggleFootnotes") the class economics of the Para-Real, a third, parallel plane that exists between digital and physical world spaces]. It is composed of the material conditions that directly affect one’s ability to engage freely with these electronic systems. This is more than the affordance of niche hardware, and includes, for example, play space, broader desk space, physical ability, and time. Merely reducing the sensory and interface flattening cannot circumvent justificatory flattening.

    .lyt-fn 
      != partial("../../_partials/pub/note", { type:"link", link:"https://vrcdn.live/",  title:"VRCDN", source:"A low-latency streaming CDN specially crafted for the needs for VR community and commonly used for immersive, grassroots VR club events" })

      != partial("../../_partials/pub/note", { type:"link", link:"https://www.furality.org/",  title:"Furality 2021", source:"A VR-first non-profit Furry convention held in June 2021. The event reported nearly 7,000 paid attendees, a difficult figure to achieve for many online events." })

      != partial("../../_partials/pub/note", { type:"essay", link:"https://newdesigncongress.org/en/pub/our-artificial-wilderness",  title:"Our Artificial Wilderness: Virtual Beauty and Ecological Decay", source:"Cade Diehm & Edward Anthony", platform:"The New Design Congress", date:"23 January 2020" })

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p With inherent challenges to unflattening, what we observe is the generative and accelerating continuation of flattened/flattening space in 24-7 temporalities: a time-space #[label(for="toggleFootnotes") “injurious to the fabric of social life and civil society [where] relentless conversion of every possible interval of time or every form of social interaction into the values of the marketplace”] takes place. At the height of the accelerating pace of development in television and radio in the mid-20th century, Marshall McLuhan recognized the role of the cyclic media systems on the collective psyche: #[label(for="toggleFootnotes") #[em We shape our tools and thereafter our tools shape us]]. This observation is intergenerational, cross-cultural, and feels especially relevant in an era of endless underpowered screens and platforms that drive #[label(for="toggleFootnotes") Zoom-brain] and intense isolation. Further, our aesthetically flattening system encases and homogenizes our senses and social dynamics, pushing us toward a historical void, adding to our collective trauma. The perilous aesthetic flattening urges us to turn away from wishful thinking for amnesia and instead to witness and unfold what is being and yet to be revealed through flattening. We must take care of ourselves and one another to heal and to build new, spirited futures together.
    .lyt-fn 
      != partial("../../_partials/pub/note", { type:"exhibition", link:"https://www.somersethouse.org.uk/whats-on/247",  title:"Afterword. In 24/7: A Wake-up Call for our Non-stop World", source:"Jonathan Crary", platform:"Sommerset House", date:"2020" })

      != partial("../../_partials/pub/note", { type:"article", link:"https://webspace.royalroads.ca/llefevre/wp-content/uploads/sites/258/2017/08/A-Schoolmans-Guide-to-Marshall-McLuhan-1.pdf",  title:"A Schoolman's Guide to Marshall McLuhan", source:"John H. Culkin", platform:"The Saturday Review", date:"March 1967" })

      != partial("../../_partials/pub/note", { type:"article", link:"https://www.liebertpub.com/doi/pdfplus/10.1089/cyber.2020.29188.bkw",  title:"Connecting Through Technology During the Coronavirus Disease 2019 Pandemic: Avoiding “Zoom Fatigue”", source:"Brenda K. Wiederhold", platform:"Cyberpsychology, Behavior and Social Networking, Number 7", date:"2020" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[a(href="https://twitter.com/helveticade" target="_blank") Cade Diehm] & #[a(href="https://") Jaz Hee-jeong Choi]
      p June 2021
      
  label(for="toggleFootnotes").ui-close Close Footnotes
  label(for="toggleFootnotes").ui-open Open Footnotes      