- var base = '/assets/pub/template'

input(type="checkbox")#toggleFootnotes
article.lyt-article

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .lyt-fn
      .fn.ma-reg
        p.ma-sml This essay was originally published in #[a(href="https://" target="_blank") A Magazine], VI.1 July - August 2021 Issue.
   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Lorem mollis aliquam ut porttitor leo. Mi eget mauris pharetra et ultrices neque ornare aenean euismod. Eget mi proin sed libero. Sed risus pretium quam vulputate dignissim suspendisse in est ante. Viverra maecenas accumsan lacus vel. Lectus proin nibh nisl condimentum. Metus aliquam eleifend mi in nulla posuere. Lobortis mattis aliquam faucibus purus in. Velit aliquet sagittis id consectetur purus ut faucibus. Egestas congue quisque egestas diam in arcu cursus euismod. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Quis commodo odio aenean sed adipiscing diam donec,  #[label(for="toggleFootnotes") the struggles for survival in arts], augue ut lectus arcu bibendum at varius vel pharetra. #[label(for="toggleFootnotes") Id consectetur purus ut faucibus pulvinar elementum integer enim neque. A erat nam at lectus urna duis convallis convallis tellus. Condimentum lacinia quis vel eros donec ac. Sit amet venenatis urna cursus eget nunc scelerisque viverra. Vel pretium lectus quam id. Enim diam vulputate ut pharetra sit amet aliquam id diam. Malesuada fames ac turpis egestas sed tempus urna. ].
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"report", link:"https://",  title:"Creative IP: Monetising creative online content", source:"UCL Innovation & Enterprise",date:"2021" })

      != partial("../../_partials/pub/note", { type:"link", link:"https://",  title:"For example, ReclaimFutures", source:"a technology and culture conference around the broad subjects of post-capitalist desire, utopian exploration, ecology and alternative computing." })

  .lyt-row
    .lyt-txt.mcw-hge.ma-lrg
      img(src="#{ base }/hero.png") 

   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Mattis ullamcorper velit sed ullamcorper morbi. Rhoncus urna neque viverra justo nec ultrices dui sapien eget. Amet mattis vulputate enim nulla aliquet. 
      
      ul 
        li 
          p #[em Nulla]: In nulla posuere sollicitudin aliquam ultrices sagittis orci. Sapien pellentesque habitant morbi tristique senectus et netus. 
        li 
          p #[em Amet]: Amet purus gravida quis blandit turpis. Suscipit tellus mauris a diam maecenas sed enim. Non nisi est sit amet. 
        li 
          p #[em Ultrices]: Ultrices neque ornare aenean euismod elementum nisi. Ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Justo donec enim diam vulputate ut pharetra sit.
  .lyt-row
    .fn.ma-reg.cs-tny.lyt-inline
      video(disablePictureInPicture controls autoplay muted loop playsinline src='#{ base }/gather-town-interaction.mp4' poster='#{ base }/gather-town-interaction.jpg')
      p Nisl nisi scelerisque eu ultrices vitae auctor. At lectus urna duis convallis. Convallis posuere morbi leo urna. Elementum integer enim neque volutpat ac tincidunt vitae semper quis.
      p #[a(href="https://gather.town" target="_blank") Gather Town], 2021
   .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Euismod quis viverra nibh cras. Metus dictum at tempor commodo ullamcorper. #[label(for="toggleFootnotes") Semper viverra nam libero justo laoreet sit amet cursus sit. Adipiscing elit ut aliquam purus sit amet. Leo duis ut diam quam. Sit amet venenatis urna cursus eget nunc scelerisque viverra]. Non consectetur a erat nam at lectus. Risus nullam eget felis eget nunc lobortis mattis aliquam faucibus #[label(for="toggleFootnotes") condimentum lacinia quis vel eros. Neque viverra justo nec ultrices dui sapien eget]. Sed risus pretium quam vulputate dignissim suspendisse in est. Enim nunc faucibus a pellentesque sit amet porttitor. Senectus et netus et malesuada. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit. Aliquet enim tortor at auctor urna nunc id cursus metus. Diam quis enim lobortis scelerisque fermentum dui faucibus in.
    .lyt-fn 
      != partial("../../_partials/pub/note", { type:"link", link:"https://vrcdn.live/",  title:"VRCDN", source:"A low-latency streaming CDN specially crafted for the needs for VR community and commonly used for immersive, grassroots VR club events" })

      != partial("../../_partials/pub/note", { type:"link", link:"https://www.furality.org/",  title:"Furality 2021", source:"A VR-first non-profit Furry convention held in June 2021. The event reported nearly 7,000 paid attendees, a difficult figure to achieve for many online events." })

      != partial("../../_partials/pub/note", { type:"essay", link:"https://newdesigncongress.org/en/pub/our-artificial-wilderness",  title:"Our Artificial Wilderness: Virtual Beauty and Ecological Decay", source:"Cade Diehm & Edward Anthony", platform:"The New Design Congress", date:"23 January 2020" })

   

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[a(href="https://twitter.com/helveticade" target="_blank") Author 1] & #[a(href="https://") Author 2]
      p January 2022
      
  label(for="toggleFootnotes").ui-close Close Footnotes
  label(for="toggleFootnotes").ui-open Open Footnotes      