- var base = '/assets/pub/trk'

input(type="checkbox")#toggleFootnotes
article.lyt-article
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p There is a belief that as digital infrastructure and technology intertwines with society, it reconfigures politics and culture in real time. #[label(for="toggleFootnotes") Historian Louis Hyman describes this belief as a misconceived sense of society updating and following technology]. Digital infrastructure seizes new upon opportunities, especially exploitable ones, and it is critical for communities and developers to identify and reconstruct these platforms when these new implementations demonstrate harm. While Artificial Intelligence (A.I.) presents a wide range of problematic issues within societies, this technology creates a specific kind of harm against the hidden, essential workers who train, label and ‘power’ it by labeling and categorizing data sets. Through obfuscation, atomization and the disenfranchisement of the workforce, the gig labor economy that is contracted to train computer algorithms operates within an exploitative model that perpetuates harm both to its workforce and beyond. Through analysis of these existing platforms, new interventions can be explored that reconfigure and proactively bring better outcomes to workers – and accountability and harm reduction to algorithms. 

    .lyt-fn
      .fn.ma-reg
        p.ma-sml Part of the #[a(href="https://carolinesinders.com/feminist-data-set" target="_blank") Feminist Data Set] project, comissioned by Mozilla Foundation.
        a(href="https://mozilla.org" target="_blank")
          img(src="/assets/logos/mozilla_logo.png" alt="Mozilla Logo" style="width: 100px;").ma-sml
        ul
          li Related: #[a(href="https://github.com/newdesigncongress/trk" target="_blank") TRK prototype] (via GitHub)
          li Live Site: #[a(href="https://trk.network/" target="_blank") TRK.network]

      != partial("../../_partials/pub/note", { type: "vid", link: "https://www.youtube.com/watch?v=5btapJs60WI", title: "Databite No. 116: Louis Hyman", source: "Data & Society Research Institute", platform: "YouTube", date: "11 December 2018" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Employing low cost workers to train machine-learning algorithms is one of the most common uses for task-based gig labor. These systems employ computational statistics, using mathematics and large data sets to enable computer-assisted decision-making or predictions, thereby encouraging large scale operations to build and refine vast quantities of data, providing information to help train and build “experience” for the algorithm. Businesses dedicated to providing these tasks exist all over the world, particularly (but not limited to) in special economic zones in China, Malaysia, India, and so on. These are often daunting in scale, invoking parallels of factory floors or low-cost fashion manufacturing lines. For companies that do not have the logistics to deploy their own centralised facilities, Mechanical Turk and adjacent companies offer similar services, where a home-bound workforce complete similar tasks at a competitive price. The power structure of this system is stacked against this workforce, creating a vast inequality through the economics of scale, atomisation between individual workers and depersonalisation through the interface. The second order effects – deeply problematic outcomes facilitated by A.I. biases – offers a small window into the dynamics that affect this workforce. We argue that, alongside advocating for the ethical restructuring of gig work, focused interventions that improve worker incentives and platform governance could have a larger outcome on the industries that rely on their work.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      label(for="toggleFootnotes") 
        img(src="#{ base }/factory.png").ma-sml
    .lyt-fn
      .fn.ma-reg
        p Ruijin Technology Company in Jiaxian, China. Photographed by #[a(href="http://www.yan-cong.com/" target="_blank") Yan Cong] for the New York Times.

  .lyt-row
    .lyt-txt.mcw-reg.ma-lrg
      p In 2001, senior members of Amazon’s early management team filed a US patent for a crowd-sourced labor market system that enabled clients to purchase large amounts of labor from across the globe to complete small, repetitive tasks. The system, Mechanical Turk, would launch 4 years later. At the time, Amazon’s public marketing highlighted the application of Mechanical Turk as a cost-effective way to categorise data, optimise search algorithms, complete simple human-powered search actions and other sorting tasks that were both repetitive, but impossible for computers to accomplish. By 2018 – according to company figures – #[label(for="toggleFootnotes") the platform employed 500,000 workers, with wages estimated at an average of USD$2 per hour].

    .lyt-fn
      .fn.ma-reg
        != partial("../../_partials/pub/note", { type:"site", link:"https://www.behind-the-enemy-lines.com/2018/01/how-many-mechanical-turk-workers-are.html", title:" How many Mechanical Turk workers are there? ", source:"Panos Ipeirotis ", date:"29 January 2018" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      label(for="toggleFootnotes")
        img(src="#{ base }/mturk-screenshots.png").ma-sml
    .lyt-fn
      .fn.ma-reg
        p Screenshots from #[a(href="https://web.archive.org/web/20080419030047/http://requester.mturk.com:80/mturk/welcome?variant=requester" target="_blank") Mechanical Turk’s marketing homepage]. Of note is the complete lack of visual representation of arguably one of the largest crowd-sourced workforces in the world.
        date 19 April 2008

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p As investment in – and deployment of – machine learning, computer vision and A.I. grew, Mechanical Turk and its competitors found a compelling market. Some algorithmic systems rely on statistical mathematics and modelling in order to make decisions, and this requires an ability to recognise variables and objects that go into making a decision. Whether classifying images of cars, obstacles and pedestrians to help autonomous vehicles understand the environment around them, or completing transcription services in order to help correct and train speech recognition services, each algorithm relies on mass human intervention – a rudimentary copying of human intellect and pattern recognition – in order to function. #[label(for="toggleFootnotes") The original Mechanical Turk, a fake robotic chess player built by Wolfgang von Kempelen in the 18th century], allowed a human player to puppeteer a caricature of a “oriental sorcerer” cum grand chess master by concealing themselves inside the machine itself. By 2020, the online crowd-sourced labor market controlled by Amazon’s service of the same name was well and truly the hidden human brain of the Silicon Valley machine intelligence facade – an inter-generational sleight of hand.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.18thcenturycommon.org/the-turk-and-automata-of-the-18th-century/", title:"“The Mechanical Turk” and Automata of the 18th Century", source:"Cassandra Nelson", date:"19 April 2013" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p To understand the consequences of nearly two decades of crowd-sourced labor, it is crucial to examine how widespread the use of these platforms are – both for workers and clients – and how these platforms interact with different societies. Decentralized labor of this kind includes tasks beyond image classification and #[label(for="toggleFootnotes") text transcription] for A.I.; #[label(for="toggleFootnotes") contracted content moderation on social media platforms], interpreting, evaluating and actioning requests by users of smart digital assistants (such as #[label(for="toggleFootnotes") Siri] and #[label(for="toggleFootnotes") Alexa]), surveys and research, interface or systems testing, #[label(for="toggleFootnotes") mass-scale communication], archival classification and more. The sheer reach and scale of this labor is both unprecedented and completely invisible. Attempts to examine or audit these systems are hindered by corporate and vendor secrecy, worker compartmentalisation and a heavy reliance on cultural and class divides between workers, clients and researchers. Early investigations into crowd-sourced labor markets focused primarily on the #[label(for="toggleFootnotes") demographics] of #[label(for="toggleFootnotes") Turkers] or pricing models to incentivise platform adoption. Understanding the ethics, labor politics and biases inherent in how these platforms are designed relies upon whistleblowing, investigative journalism or research that traces emergent #[label(for="toggleFootnotes") second-order] impacts back to the platform itself.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://www.ipeirotis.com/?publication=demographics-and-dynamics-of-mechanical-turk-workers", title:"Demographics and Dynamics of Mechanical Turk", source:"Djellel Difallah, Elena Filatova, Panagiotis Ipeirotis", platform:"Association for Computer Machinery", date:"February 2018" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://www.theverge.com/2019/2/25/18229714/cognizant-facebook-content-moderator-interviews-trauma-working-conditions-arizona", title:"The Trauma Floor: The secret lives of Facebook moderators in America", source:"Casey Newton", platform:"The Verge", date:"25 February 2019" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://www.cbsnews.com/news/amazon-workers-are-listening-to-what-you-tell-alexa/",  title:"Amazon workers are listening to what you tell Alexa", source:"Aimee Picchi", platform:"CBS News", date:"11 April 2019" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://theintercept.com/2020/01/16/pete-buttigieg-amazon-mechanical-turk-gig-workers/", title:"Pete Buttigieg’s Campaign Used Notoriously Low-Paying Gig-Work Platform for Polling", source:"Ryan Grim, Akela Lacy", platform:"The Intercept",  date:"16 January 2020" })
      
      != partial("../../_partials/pub/note", { type:"note", title:"A portmanteau of “Mechanical Turk” and “Worker”, a “Turker” is a colloquial term for an individual who trades their labor within a crowd-sourced task platform." })


  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Crowdsourced labor systems are marketed to workers as a flexible, always-available opportunity. Unlike service or physical-labor based gig platforms (such as Uber, Instacart, etc), Mechanical Turk and its competitors rely heavily on a “Bring Your Own Device, Work From Home, Work Your Own Hours” narrative, and payment for services is often positioned as supplementary income. Regardless, the “white collar” nature of this labor means that workers often work alone, in spite of being members of a global workforce, and this decentralization makes them uniquely vulnerable to invisibility, isolation, and exploitation.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://people.eecs.berkeley.edu/~bjoern/papers/singer-pricing-hcomp2011.pdf", title:"Pricing Tasks in Online Labor Markets", source:"Yaron Singer, Manas Mittal", platform:"Association for the Advancement of Artificial Intelligence", date:"2011" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg 
      p With the workforce physically decentralized, the additional step of classifying crowd work as contractors creates a significant power imbalance, allowing vendors to completely dictate the terms in which workers operate. When changes are rolled out, these create conflicts that are sometimes mediated via publicity rather than through collective bargaining or other forms of negotiation. These can be financial, such as the 2019 pay dispute in which Rev.com silently #[label(for="toggleFootnotes") cut the compensation to their “freelance transcribers by over 30 percent]. Additionally, the legal status of gig workers ensures a complete lack of medical or psychological support for workers exposed to traumatic situations. Worker isolation and exposure to traumatic conditions has been revealed to be an urgent failing of welfare at #[label(for="toggleFootnotes") Amazon], #[label(for="toggleFootnotes") Facebook], #[label(for="toggleFootnotes") Rev], #[label(for="toggleFootnotes") Fiverr] and many more. The scale of #[label(for="toggleFootnotes") corporate indifference to the health of gig workers was well and truly revealed during the COVID–19 pandemic in 2020], where corporate policies denied healthcare and protection for individuals working in extraordinarily precarious workplaces.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://gizmodo.com/there-is-a-point-where-a-person-cant-do-anymore-1839808189", title:"‘There is a Point Where a Person Can’t Do Anymore’", source:"Bryan Menegus", platform:"Gizmodo", date:"12 November 2019" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://onezero.medium.com/i-can-hear-the-suffering-rev-exposes-freelance-transcribers-to-violent-disturbing-content-4244758f832c", title:"‘I Can Hear the Suffering’: Rev Exposes Freelance Transcribers to Violent, Disturbing Content", source:"Sarah Emerson", platform:"OneZero", date:"23 November 2019" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://www.polygon.com/2017/2/14/14615142/what-is-fiverr-pewdiepie-anti-semitism",  title:"Fiverr is the Israeli company that PewDiePie used to promote anti-Semitism", source:"Charlie Hall", platform:"Polygon", date:"14 Feb 2017" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://www.theverge.com/2020/4/10/21216172/amazon-coronavirus-protests-response-safety-jfk8-fired-covid-19",  title:"Warehouse Workers are Forcing Amazon to Take COVID-19 Seriously",  source:"Josh Dzieza", platform:"The Verge", date:"10 April 2020" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p When low-cost, politically fractured labor is contracted to infrastructure projects – such as training systems that rely on machine learning or A.I. – all of the political and social factors embedded in the gig labor platform contribute to the shape of the system being trained. The tension can be deeply political, such as #[label(for="toggleFootnotes") Google’s deployment of gig workers to train automated drone targeting systems]. #[label(for="toggleFootnotes") Anatomy of an A.I. System], a project by Kate Crawford and Vladan Joler, documents the enormous, planetary-scale impact of a single Amazon Alexa voice request. Alexa is a product of intense complexification, and the inclusion of gig labor workers adds resilience and redundancy to the generally unreliable UX of voice assisted interfaces. Although there are many problematic components within this system, the role of crowdsourced and contracted labor is seen as central to the successful operation of this system. In many ways, it is dependent on labor controlled via physical decentralization alongside economic factors that help render these workers’ participation invisible, both to each other and the wider world.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://theintercept.com/2020/03/12/coronavirus-facebook-contractors/",  title:"Facebook Contractors Must Work in Offices During Coronavirus Pandemic - While Staff Stay Home", source:"Sam Biddle", platform:"The Intercept", date:"12 March 2020" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://theintercept.com/2019/02/04/google-ai-project-maven-figure-eight/",  title:"Google Hired Gig Economy Workers to Improve Artificial Intelligence in Controversial Drone-Targeting Project", source:"Lee Fang", platform:"The Intercept", date:"4 February 2019" })

      != partial("../../_partials/pub/note", { type:"img", url:"ai.png", link:"https://anatomyof.ai/", title:"Anatomy of an AI system", source:"Kate Crawford, Vladan Joler", date:"2018" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Mechanical Turk rarely acts as a visible advocate for its workers’ wellbeing. It provides little to no support and rarely investigates clients on the behalf of its workforce. It is in the interface itself where this is most obvious – there are no tools available for workers to interact with other workers. Without external collectively-supposed tooling, each worker is atomized and isolated from all others. When notified by a worker of an issue or complaint, it is to Amazon’s discretion to respond when and how they see fit. With no publicly accessible guidance, and without economic or labor rights oversight, there is little incentive to change.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In light of these conditions, a partnership between workers and US-based researchers has brought proactive self-reporting measures to the platform. Through #[label(for="toggleFootnotes") Turkopticon], workers can document instances of bad client behaviour or unreasonable job conditions both to each other and to Amazon. Researcher Lilly Irani explains the project as #[em #[label(for="toggleFootnotes") “allow[ing] workers to publicize and evaluate their relationships with employers. As a common infrastructure, Turkopticon enables workers to engage one another in mutual aid. We conclude by discussing the potentials and challenges of sustaining activist technologies that intervene in large, existing socio-technical systems.”]] Turkopticon’s importance is obvious – by 2013, the service was handling 100,000 page views a month. The platform allows workers to support each other on a day-to-day basis, document their concerns over clients by rating them and their tasks, and create an accountability and responsibility the platform itself does not allow.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://turkopticon.ucsd.edu/", title:"Related: The Turkopticon platform", })

      != partial("../../_partials/pub/note", { type:"paper", link:"https://crowdsourcing-class.org/readings/downloads/ethics/turkopticon.pdf",  title:"Turkopticon: Interrupting Worker Invisibility in Amazon Mechanical Turk", source:"Lilly C. Irani, M. Six Silberman", platform:"Association for Computer Machinery", date:"2013" })
      
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Beyond grassroots moderation systems, the economic incentives of this work is severely undervalued. The rates marketed on Mechanical Turk’s website appear reasonable, but tasks do not require fixed lengths and this leaves little room for unexpected delays or badly estimated timeframes. Furthermore, the free market approach to platform governance means that tasks are priced at the discretion of the client. Marketed income rates are merely suggestive pricing rather than an enforced pricing floor. Writing for the Atlantic, Alana Semuels details the systemic discrepancy around pricing: #[em #[label(for="toggleFootnotes") “A recent Mechanical Turk listing, for example, offered workers 80 cents to read a restaurant review and then answer a survey about their impressions of it; the time limit was 45 minutes. Another, which asked workers to fill out a 15-minute psychological questionnaire about what motivates people to do certain tasks, offered $1, but allowed that the job could take three hours.”]]

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.theatlantic.com/business/archive/2018/01/amazon-mechanical-turk/551192/", title:"The Internet Is Enabling a New Kind of Poorly Paid Hell", source:"Alana Semuels", platform:"The Atlantic", date:"23 January 2018" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p There is a growing understanding of the effects of low pay workplace atomisation and the lack of medical and social support offered by these platforms – both for workers themselves and the broader systems they contribute to. #[label(for="toggleFootnotes") According to research conducted by the University of California in 2010, the majority of Mechanical Turk workers are US and Indian nationals and more than half identify as female]. What would an equitible, feminist Mechanical Turk look like? What would it take to move beyond this deeply exploitative and unethical model towards economic wellbeing, workplace cohesion and cooperative employment? Is such a system even achievable without further perpetuating digital colonialism facilitated by platforms, given the demographics of such a system?

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://pdfs.semanticscholar.org/2261/5775c75ba7a227bce389532a6b2cae7c4ab7.pdf",  title:"Who are the Turkers? Worker Demographics in Amazon Mechanical Turk", source:"Joel Ross, Andrew Zaldivar, Lilly Irani, Bill Tomlinson", platform:"Association for Computer Machinery", date:"2010" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[label(for="toggleFootnotes") To advocate for better working conditions, the existing economic pricing structures must be reformed]. Given the international reach of such a service, and #[label(for="toggleFootnotes") the assumptions made about the economic realities of these invisible workers], rethinking pricing transparency and accountability and exposing this during task creation offers a promising starting point for creating dialogue between workers and clients. In TRK – an open source tool designed to calculate crowd-sourced gig labor tasks towards a living wage – the example of price negotiation is straightforward: the cost of tasks must take into account the minimum and living wage of workers within their geographical area. This is a simple intervention, but one that is absent from existing pricing models.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"note", link:"https://feministdata.com/", title:"See also: the Feminist Data Set" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p As an intervention, TRK’s Wage Calculator provokes change around the key problem of valuing labor and task complexity. The elements in task-based platform labor are amount, length of task, and price per task within the broader context of a worker’s full day. These elements are often and notably absent when generating the ‘worth’ of digital work. Location – which factors into living wage – should not be dismissed either. The project is an attempt to build platform equity for constructing data sets by highlighting labor and payment inequity in A.I. and machine learning systems.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In a series of interviews conducted with users, gig labor clients were asked about the scale of pay when establishing tasks. In many cases, #[label(for="toggleFootnotes") clients were completely unaware of (or underestimated) the systemic level of labor devaluation, both through task complexity and time mis-estimation]. The Wage Calculator addresses this issue directly by bringing transparency to ignored factors during the task pricing process. Unlike existing platforms, the Wage Calculator frames proposed tasks within the context of an eight hour work day. From here, the interface calculates the task set against geographical labor law to produce a living-wage estimate. This creates a price negotiation within the TRK interface, translating vague metrics into a concrete relationship between time, tasks and worker conditions.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.nytimes.com/interactive/2019/11/15/nyregion/amazon-mechanical-turk.html",  title:"I Found Work on an Amazon Website. I Made 97 Cents an Hour.", source:"Andy Newman", platform:"The New York Times", date:"15 November 2019" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p There are many meaningful opportunities to intervene in this system, but building new tools is not enough to safeguard the wellbeing of workers; the entire structure of Mechanical Turk and its competitor platforms require change. #[label(for="toggleFootnotes") In workshops held in 2019, participants from over 10 countries were invited to speculate about potential developments and changes required to foster greater representation of intersectional feminist ideals in A.I. as a part of Sinders’ Feminist Data Set project]. Participants had a difficult time ‘improving’ Mechanical Turk within its existing, for-profit corporate structure. This research found whether housed in a larger conglomerate or structured as a startup, the economic and workplace imbalances suffered by workers are amplified significantly by for-profit business structures and thusly cannot be intersectionally feminist.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"note", title:"Participants were from India, the United States, Turkey, Germany, the United Kingdom, Ireland, China, South Korea, Brasil, Mexico and other countries." })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The ubiquity of machine learning means that the methods used to build it demand scrutiny. This includes the working conditions for those who train and label data sets and data models. Given the necessity for platform reform, what alternative governance should replace these corporate structures? Perhaps this is a key opportunity for platform co-op models, where localized governance gives greater wellbeing and control to workers, and increased visibility and localization bringing additional scrutiny to data labeling and training platforms. Beyond operating these platforms in the national interest – workshop participants suggested structuring these platforms as embeds within local government, included as part of a public library or established a large nonprofit – the adoption of worker-moderated tools such as Turkopticon could be combined with a simpler, open-sourced infrastructure #[label(for="toggleFootnotes") governed by effective labor politics]. For precarious workers, non-profit or public works structures by their nature invite additional regulation, support and transparency commitments. This is clearly demonstrable in other speculative or real world alternates for worker-owned governance models, particularly from outside of the US, for example #[label(for="toggleFootnotes") Shift], an autonomous Russian trucking network or #[label(for="toggleFootnotes") Libre Taxi, a community-focused Uber alternative]. Implementing alternative governance in these machine training centers could create additional opportunity to proactively intervene in opaque ‘black-box’ algorithms and their unintended consequences.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://laborcenter.berkeley.edu/union-effect-in-california-1/", title:"The Union Effect in California #1: Wages, Benefits, and Use of Public Safety Net Programs", source:"Ken Jacobs, Sarah Thomason", platform:"UC Berkley Labor Center", date:"31 May 2018" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://www.youtube.com/watch?v=Bh2_1gIRKVA", title:"SHIFT: a study on automation and the Russian trucking industry", source:"Dmitry Alferov, Liza Dorrer, Christian Lavista, Arthur Röing Baer", platform:"Strelka Institute", date:"2017" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://libretaxi.org/", title:"Libretaxi: free and open source alternative to Uber/Lyft.", source:"Roman Pushkin" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Regardless of the opportunities for change, the ethics of low-paid gig work remain urgent and problematic. This is the case from the platform down, where low-paid work is completed on hardware and networks machined from environmentally and socially disastrous practices. With so much at stake, it is certainly not enough to focus entirely at the platform level. #[label(for="toggleFootnotes") Our responses must foster labor rights, worker equity, and socio-technical participatory design]. We must acknowledge those who work within and for these systems and directly involve and design with these workers. Machine learning and A.I. will always be controversial, but framing equity across all labor that goes into its design is something creators, technologists, artists, and society can and should aim for – creating intersectional structures that foster ownership and cooperative determination for the workers, thereby increasing the likelihood for fairer systems. Technology must reflect those that work within it, build it and use it, and not just the handful of people and companies that own it. 

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[a(href="https://twitter.com/helveticade" target="_blank") Cade Diehm]
      p #[a(href="https://twitter.com/carolinesinders" target="_blank") Caroline Sinders]
      p Summer 2020
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg  
      p Edited by Edward Anthony. 
      
  label(for="toggleFootnotes").ui-close Close Footnotes
  label(for="toggleFootnotes").ui-open Open Footnotes