- var lang = current.path[0] ? current.path[0] : 'en';
- var data = public[lang]._data.consultingFooter;

.support-footer
  .heading-row.ma-sml
    include ../../assets/s/contact.svg
    h3.cs-hg3 #{ data.title }
  p.ma-reg(style="max-width: 64ch").cs-txt.ma-sml #{ data.intro }
  .btns
    for link in data.links
      a.button-link(href="#{ link.url }") #{link.title}