.page-utl main {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-track-color: none;
  height: 100vh;
  width: calc(100vw - 44px);
}

.lyt-utl {
  overflow-x: hidden;
  grid-template: 100% / calc((100vw / 3) - 44px) auto;
  grid-gap: 0;
}

.lyt-utl-header {
  padding: 0 calc(0.5 * var(--pd-lrg));
  padding-top: 1rem;
}

.lyt-utl-header h1 {
  font: var(--cs-msv);
  font-size: calc(2rem * var(--lh-reg));
  /* letter-spacing: -4px; */
  margin-bottom: var(--ma-reg);
  line-height: 1.2;
  max-width: 20ch;
}

.lyt-utl #side-content h3 {
  font: var(--cs-hg3);
  margin-bottom: var(--ma-sml);
}


.lyt-utl #side-data,
.lyt-utl #ui-main {
  padding: 0 calc(0.5 * var(--pd-lrg));
}


.lyt-utl .partners img,
.lyt-utl .consulting img {
  max-height: 3rem;
}

.lyt-utl .partners .core ul,
.lyt-utl .consulting .core ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:flex-start;
}

.lyt-utl .partners .core ul li,
.lyt-utl .consulting .core ul li {
  padding: 1rem;
  min-width: 8rem;
  max-width: 12rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lyt-utl .team {
  flex-direction: column;
}

.lyt-utl .team .team-member {
  flex-basis: 100%;
  max-width: 100%;
}

.lyt-utl .team .team-member img {
  max-width: 16rem;
}

.lyt-utl .collab {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.lyt-utl .collab .collab-member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.2;
  align-items: end;
}

.lyt-utl h3 {
  margin-bottom: 0.5rem;
}

.lyt-utl h4 {
  margin-top: 1rem;
}

.lyt-utl .vid-player {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
.lyt-utl iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lyt-utl .contact-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--co-pri);
  color: var(--co-high);
  padding: 0.25rem;
  max-width: 20rem;
}
.lyt-utl .contact-button svg {
  width: 2rem;
  margin-right: 0.5rem;
}

.reverse {
  direction: rtl;
}
.reverse #side-data, .reverse #ui-main {
  direction: ltr;
}
@media screen and (max-width: 767px) {
  .lyt-utl {
    flex-direction: column;
  }

  .lyt-utl #side-content {
    position: relative;
    width: calc(100vw - 44px);
    height: auto;
    grid-row: auto;
  }

  .lyt-utl-header {
    padding-top: 1rem;
  }
  
  .lyt-utl .lyt-logo svg {
    padding: calc(0.75 * var(--pd-lrg)) calc(0.5 * var(--pd-lrg));
  }

  .lyt-utl #side-content .inner {
    padding: calc(0.7 * var(--pd-lrg));
  }

  .reverse {
    direction: ltr;
  }
}

@media screen and (min-width: 980px) {

  .lyt-utl .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .lyt-utl .team .team-member {
    display: flex;
    flex-direction: column;
    flex: 0;
    flex-basis: 50%;
    padding-right: 1rem;
    max-width: 430px;
  }
  
}