#toggleFootnotes[type='checkbox'] {
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
}

#filterEssays[type='checkbox']:checked + #ui-fl .tl-essay,
#filterResearch[type='checkbox']:checked + #ui-fl .tl-research,
#filterStreams[type='checkbox']:checked + #ui-fl .tl-stream,
#filterSoftware[type='checkbox']:checked + #ui-fl .tl-software,
#filterCables[type='checkbox']:checked + #ui-fl .tl-cable {
  display: none;
}

@media screen and (max-width: 767px) {
  .ui-close {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100vw + 65vw);
    text-indent: -99999;
  }

  .ui-open {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20vw;
    text-indent: 99999px;
  }

  #toggleFootnotes[type='checkbox']:checked + .lyt-article {
    transform: translateX(-65vw);
  }

  #toggleFootnotes[type='checkbox']:checked + .lyt-article {
    transform: translateX(-65vw);
  }

  #toggleFootnotes[type='checkbox'] + .lyt-article .lyt-fn {
    opacity: 0.35;
  }

  #toggleFootnotes[type='checkbox']:checked + .lyt-article .lyt-fn {
    opacity: 1;
    z-index: 90;
  }

  #toggleFootnotes[type='checkbox']:checked + .lyt-article .lyt-txt {
    opacity: 0.35;
  }

  #toggleFootnotes[type='checkbox']:checked + .lyt-article .ui-close {
    display: block;
    z-index: 50;
  }
  #toggleFootnotes[type='checkbox']:not(:checked) + .lyt-article .ui-open {
    display: block;
    z-index: 50;
  }  
}

.ui-close,
#toggleFootnotes,
.ui-open {
  display: none;
  text-indent: -9999px;
}

.vid-essay {
  position: absolute;
  top: 0;
  left: 0rem;
  right: 44px;
  bottom: 45%;
  z-index: 50;

}

@media screen and (max-width: 360px) {
  #toggleFootnotes[type='checkbox']:checked + .lyt-article {
    transform: translateX(-80vw);
  }
}

@media screen and (max-width: 800px) {
  #uiSwitch[type='checkbox']:not(:checked) ~ #ui-tl,
  #uiSwitch[type='checkbox']:not(:checked) ~ #ui-content,
  #uiSwitch[type='checkbox']:not(:checked) ~ #side-content {
    transform: translateX(calc(-100vw + 44px));
  }

  #uiSwitch[type='checkbox']:checked ~ #ui-tl#ui-tl {
    border-right: none;
  }
  #toggleFootnotes:not(:checked) ~ .ui-close,
}
